.title {
  text-align: center;
}
.new-form, .loading {
  width: 50%;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.barks{
  width: 80%;
  margin: 0 auto;
}

.barkDiv{
  width: 80%;
  margin: 0 auto;
  border-bottom: 3px solid #00ADD6;
}